@page "/calendario"
@using Syncfusion.Blazor.Calendars
@using IOT_Data.Models
@inject IZoneBusiness funcoes
@using Monitor_Business.interfaces
@using Monitor_Business.DTO


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>
                    Zona
                </dt>
                <dd>
                    @data.Zone
                </dd>
                <dt>
                    Dióxido de carbono
                </dt>
                <dd>
                    @data.Co2
                </dd>
                <dt>
                    Monóxido de carbono
                </dt>
                <dd>
                    @data.Co
                </dd>
                <dt>
                    Hidrocarboneto
                </dt>
                <dd>
                    @data.Hc
                </dd>
                <dt>
                    Óxido de nitrogênio
                </dt>
                <dd>
                    @data.NOx
                </dd>
                <dt>
                    Óxido de enxofre
                </dt>
                <dd>
                    @data.SOx
                </dd>
                <dt>

                </dt>
                <dd>
                    @data.Rcho
                </dd>
                <dt>

                </dt>
                <dd>
                    @data.MP
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div class=" control-section">
                <div class="calender-section">
                    <div id="calender-control">
                        <SfCalendar TValue="DateTime?" Start="@CalendarView.Year" Depth="@CalendarView.Year" @bind-Value="@DropVal">
                        </SfCalendar>
                    </div>
                    <div id="display_date">
                        <span id="date_value">Selected values: @(DropVal?.ToString("MMMM yyyy"))</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Id do sensor atmosfera">Id da zona </label>
                    <div class="col-md-4">
                        <input id="Id do sensor atmosfera" name="Id do sensor atmosfera" type="text" placeholder="´" class="form-control input-md" @bind-value="@CurrentValue" @bind-value:event="oninput">
                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for=""></label>
                    <div class="col-md-4">
                        <button @onclick="Foo" class="btn btn-primary">Atualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public DateTime? DropVal { get; set; } = DateTime.Now;
    SfChart Chart;
    private AtmMesDTO data;
    private int CurrentValue { get; set; } = 1;

    private void Foo()
    {
        //data = funcoes.ZoneAtmMonth(DropVal, CurrentValue);
        Chart.RefreshLiveData();
    }
    protected override async Task OnInitializedAsync()
    {
         data = new AtmMesDTO
        {
            Co = 0.5,
            Co2 = 0.3,
            ano = new DateTime(2020, 05, 03),
            Hc = 0.7,
            MP = 0.4,
            NOx = 0.2,
            Rcho = 0.5,
            SOx = 0.3,
            Zone = "ola",
        };



        //zones = funcoes.ZoneAtmMonth(DropVal, CurrentValue);
    }


}