@page "/"
@using IOT_Data.Models
@using Monitor_Business.interf
@using Monitor_Business.DTO
@using Syncfusion.Blazor.Data
@using Microsoft.Extensions.DependencyInjection
@inject IZoneBusiness funcoes
@inject NavigationManager NavigationManager
@inherits OwningComponentBase
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Número de sensores
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@totalsensores</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Número de zonas
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@totalzonas</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Número de furtos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@totalfurtos</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dados Atmosféricos dos últimos 3 anos</h6>
                </div>
                <div class="card-body">
                    <SfChart Theme="@Theme" @ref="Chart">
                        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" IntervalType="IntervalType.Months" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis LabelFormat="{value}" RangePadding="ChartRangePadding.None" Interval="70" Maximum="999" >
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryYAxis>
                        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@zones" Name="Co2" XName="ano" Width="2"
                                         Opacity="1" YName="Co2" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="10" Height="10">
                                </ChartMarker>
                            </ChartSeries>
                            <ChartSeries DataSource="@zones" Name="Co" XName="ano" Width="2"
                                         Opacity="1" YName="Co" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="10" Height="10">
                                </ChartMarker>
                            </ChartSeries>
                            <ChartSeries DataSource="@zones" Name="NOx" XName="ano" Width="2"
                                         Opacity="1" YName="NOx" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="10" Height="10">
                                </ChartMarker>
                            </ChartSeries>
                            <ChartSeries DataSource="@zones" Name="SOx" XName="ano" Width="2"
                                         Opacity="1" YName="SOx" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="10" Height="10">
                                </ChartMarker>
                            </ChartSeries>
                            <ChartSeries DataSource="@zones" Name="Hc" XName="ano" Width="2"
                                         Opacity="1" YName="Hc" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="10" Height="10">
                                </ChartMarker>
                            </ChartSeries>
                            <ChartSeries DataSource="@zones" Name="Rcho" XName="ano" Width="2"
                                         Opacity="1" YName="Rcho" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="10" Height="10">
                                </ChartMarker>
                            </ChartSeries>
                            <ChartSeries DataSource="@zones" Name="MP" XName="ano" Width="2"
                                         Opacity="1" YName="MP" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="10" Height="10">
                                </ChartMarker>
                            </ChartSeries>
                        </ChartSeriesCollection>
                    </SfChart>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private Theme Theme { get; set; }
    SfChart Chart;
    private List<AtmMesDTO> zones;
    private long totalzonas, totalsensores, totalfurtos;
    private List<AtmData> zonesinicial = new List<AtmData>();
    private int CurrentValue { get; set; }


    protected override async Task OnInitializedAsync()
    {
        CurrentValue = 1;
        totalfurtos = funcoes.GetNumberRoberys();
        totalzonas = (int)funcoes.GetNumberZones();
        totalsensores = funcoes.GetNumberSensores();
        Random _rand = new Random();
        var aux = funcoes.GetAtmZoneLast3Months().ToList();
        var zona = new AtmMesDTO
        {
            ano = new DateTime(2021, 04, 20),
            Co2 = _rand.NextDouble() * 1000,
            Co = _rand.NextDouble() * 100,  // co
            Hc = _rand.NextDouble() * 20,   // hc
            Rcho = _rand.NextDouble() * 150,  // rcho
            NOx = _rand.NextDouble() * 40,   // nox
            SOx = _rand.NextDouble() * 30,   // sox
            MP = _rand.NextDouble() * 60,   // mp
            Zone = "",
        };
        var zona2 = new AtmMesDTO
        {
            ano = new DateTime(2021, 03, 20),
            Co2 = _rand.NextDouble() * 1000,
            Co = _rand.NextDouble() * 100,  // co
            Hc = _rand.NextDouble() * 20,   // hc
            Rcho = _rand.NextDouble() * 150,  // rcho
            NOx = _rand.NextDouble() * 40,   // nox
            SOx = _rand.NextDouble() * 30,   // sox
            MP = _rand.NextDouble() * 60,   // mp
            Zone = "",
        };
        aux.Add(zona);
        aux.Add(zona2);
        zones = aux;

        if (NavigationManager.Uri.IndexOf("material") > -1)
        {
            Theme = Theme.Material;
        }
        else if (NavigationManager.Uri.IndexOf("fabric") > -1)
        {
            Theme = Theme.Fabric;
        }
        else if (NavigationManager.Uri.IndexOf("bootstrap") > -1)
        {
            Theme = Theme.Bootstrap;
        }
        else if (NavigationManager.Uri.IndexOf("highcontrast") > -1)
        {
            Theme = Theme.HighContrast;
        }
        else
        {
            Theme = Theme.Bootstrap4;
        }

    }

}
